$primary-text-color : #464646;
$secondary-text-color: #999999;

$primary-bg-color : #8e44ad;
$secondary-bg-color: #34495e;

$common-font-size: 0.85rem;
$common-line-height: 1.67;
$common-font-weight: normal;