<div class="common-format">
    <div class="page-wrapper mt-3 mb-3">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="header">
                        <h1 class="header_title">Welcome to {{title}}</h1>
                        <p class="header_description">Enroll yourself here for further process</p>
                    </div>
                    
                </div>
                <div class="col-md-8 offset-md-2">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title text-center">Registration</h4>
                        </div>
                        <div class="card-body">
                            <form #registrationForm="ngForm">
                                <div class="form-group">
                                    <label class="moving-label" for="name">Name</label>
                                    <input [(ngModel)]="registeredUserData.name" type="text" name="name" id="name" class="form-control" required />
                                </div>
                                <div class="form-group">
                                    <label class="moving-label" for="dob">Date of birth</label>
                                    <input [(ngModel)]="registeredUserData.dob" type="date" name="dob" id="dob" class="form-control" required />
                                </div>
                                <div class="form-group">
                                    <label class="moving-label" for="email">Email</label>
                                    <input [(ngModel)]="registeredUserData.email" type="email" name="email" id="email" class="form-control" required />
                                </div>
                                <div class="form-group">
                                    <label class="moving-label" for="contact">Contact</label>
                                    <input [(ngModel)]="registeredUserData.contact" type="tel" name="contact" id="contact" class="form-control" required />
                                </div>
                                <div class="form-group">
                                    <label class="moving-label" for="password">Password</label>
                                    <input [(ngModel)]="registeredUserData.password" type="password" name="password" id="password" class="form-control" required />
                                </div>
                                <div class="form-group">
                                    <label class="moving-label" for="cpass">Confirm Password</label>
                                    <input [(ngModel)]="registeredUserData.cpass" type="password" name="cpass" id="cpass" class="form-control" required />
                                </div>
                                <div class="text-right">
                                    <button (click)="registerUser()" class="btn btn-primary">Register</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>